.crew {
  background: url('../../public/assets/crew/background-crew-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .sub-header {
  }
  .crew-body {
    .image {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        height: 423px;
        width: auto;
      }
      .line {
        margin-bottom: 1rem;
        width: 327px;
        border-top: 1px solid $medium-color;
        opacity: 0.3;
      }
    }
    .crew-content {
      z-index: 0;
      .header-box {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 3rem;
        .content {
          color: $medium-color;
          max-width: 327px;
          line-height: 26px;
          font-size: 15px;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 769px) and (max-width: 991px) {
  .crew {
    background: url('../../public/assets/crew/background-crew-tablet.jpg');
    .crew-body {
      display: flex;
      flex-direction: column-reverse;
      .image {
        .line {
          display: none;
        }
      }
      .crew-content {
        display: flex;
        flex-direction: column-reverse;
        .dot-navbar {
          margin-bottom: 1.5rem;
          margin-top: 0.5rem;
        }
        .header-box {
          margin-bottom: 0;
          .content {
            max-width: 327px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

// Desktop
@media (min-width: 992px) {
  .crew {
    background: url('../../public/assets/crew/background-crew-desktop.jpg');
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100vh;
    .sub-header {
      margin-top: 5rem;
    }
    .crew-body {
      display: flex;
      flex-direction: row-reverse;

      .image {
        position: absolute;
        bottom: 0;
        img {
          height: 712px;
        }
        :right img {
          position: absolute;
          bottom: 0;
        }
        .line {
          display: none;
        }
      }
    }
    .crew-content {
      position: absolute;
      left: 6rem;
      top: 20rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      // justify-content: center;
      text-align: left;
      .header-box {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        text-align: left;
      }
    }
  }
}