// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
$headFont: 'Bellefair', serif;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
$subheadFont: 'Barlow Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
$contentFont: 'Barlow', sans-serif;

// COLORS
$dark-color: #0b0d17;
$medium-color: #d0d6f9;
$light-color: #ffffff;

// TYPOGRAPHY
// headers
$head-1: 150px;
$head-2: 100px;
$head-3: 55px;
$head-4: 32px;
$head-5: 28px;
$head-5-spacing: 4.75px;
$head-mobile: 80px;
// subheaders
$subhead-1: 28px;
$subhead-2: 14px;
$subhead-3: 20px;
$subhead-4: 24px;
$subhead-2-spacing: 2.35px;
// nav text
$nav-text: 16px;
$nav-text-spacing: 2.7px;
// body text
$body-text: 18px;
// line height
$p-line-height: 32px;

body {
  font-family: $contentFont;
  font-size: $body-text;
}

// UTILS
.heading {
  font-family: $headFont;
}
.subheading {
  font-family: $subheadFont;
}
.heading-1 {
  font-family: $headFont;
  color: $light-color;
}

.heading-2 {
  font-size: $head-2;
}
.heading-3 {
  font-size: $head-3;
}
.heading-4 {
  font-size: $head-4;
}
.heading-5 {
  font-size: $head-5;
  letter-spacing: $head-5-spacing;
  font-family: $subheadFont;
  color: $medium-color;
}
.subheading-1 {
  font-size: $subhead-1;
}
.subheading-2 {
  font-size: $subhead-2;
  letter-spacing: $subhead-2-spacing;
}
.subheading-4 {
  font-size: $nav-text;
  font-family: $headFont;
  color: $light-color;
  opacity: 0.5;
}
.subheading-5 {
  font-size: $subhead-4;
  font-family: $headFont;
  color: $light-color;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.nav-text {
  font-size: $nav-text;
  letter-spacing: $nav-text-spacing;
  font-family: $subheadFont;
}
