.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .heading-1 {
    font-size: 80px;
  }
  .content {
    color: $medium-color;
    max-width: 400px;
    font-family: $contentFont;
  }
}
// Tablet
@media (min-width: 769px) and (max-width: 991px) {
  .header-box {
    .heading-5 {
      font-size: $subhead-3;
      margin-bottom: -2rem;
    }
    .heading-1 {
      font-size: $head-1;
    }
    p {
      max-width: 450px;
    }
  }
}


// Desktop
@media (min-width: 992px) {
  .header-box {
    display: flex;
    text-align: start;
    justify-content: left;
    align-items: flex-start;
    min-width: 370px !important;
    .heading-1 {
      font-size: $head-1;
      display: flex;
      text-align: start;
      justify-content: left;
      align-items: flex-start;
    }

    p {
      max-width: 600px !important;
      display: flex;
      text-align: start;
      justify-content: left;
      align-items: flex-start;
    }
  }
}
