.subHeader {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  .head5 {
    color: $light-color;
    font-size: $nav-text;
    // margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    span {
      opacity: 40%;
      margin-right: 1.5rem;
    }
  }
}

// Tablet
@media (min-width: 769px) and (max-width: 991px) {
  .subHeader {
    .head5 {
      margin-top: 2rem;
      margin-left: 2rem;
      font-size: $subhead-3;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      text-align: start;
    }
  }
}

// Desktop
@media (min-width: 992px) {
  .subHeader {
    .head5 {
      display: flex;
      justify-content: left;
      margin-left: 5.5rem;
      font-size: $head-5;
    }
  }
}
